@layer reset, base, helpers, ui, components;

@layer ui {
  .input {
    display: flex;
    height: 3rem;
    width: 100%;
    border-radius: var(--radius-md);
    border: 1px solid hsl(var(--input));
    background-color: hsl(var(--background));
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .input::placeholder {
    color: hsl(var(--muted-foreground));
  }
  .input:focus-visible {
    border-color: hsl(var(--primary));
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
