@layer reset, base, helpers, ui, components;

@layer ui {
  .wrapper {
    position: relative;
    width: 100%;
    overflow-x: auto;
  }

  .table {
    width: 100%;
    caption-side: bottom;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .header tr {
    border-bottom-width: 1px;
  }

  .body tr:last-child {
    border-width: 0;
  }

  .row {
    border-bottom: 1px solid hsl(var(--border));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .row:hover {
    background-color: hsl(var(--muted) / 0.6);
  }

  .head {
    height: 2.75rem;
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: hsl(var(--muted-foreground));
  }

  .cell {
    padding: 1rem;
    vertical-align: middle;
  }
}
